:root {
  --accordion-close-summary-color: var(--color);
}
/* Tema claro */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary-hover: #7b1fa2;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #FFF;
}

/* Tema noturno */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #d989ef;
    --primary-hover: #a248b2;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #000;
  }
}
[data-theme="dark"] {
  --primary: #d989ef;
  --primary-hover: #a248b2;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #000;
}

/* Adicionar cor e padding nos flashs */
sup#flash {
  background-color: var(--primary);
  color: var(--primary-inverse);
  font-weight: bold;
  border-radius: 0.6rem;
  margin: 0.2rem;
  padding: 0.3rem 0.4rem;
}

/* Adicionar padding, flex, e borda nas navegações */
body>nav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  background-color: var(--code-background-color);
  border-bottom: 1px solid var(--primary);
}
body>nav>ul {
  display: flex;
  flex-wrap: wrap;
}

/* Desabilitar link da página atual */
[aria-current="page"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: unset;
}

/* Centralizar e colocar risco em titulos */
h1 {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--muted-border-color);
}

/* Risco, padding, e tamanho da fonte no rodapé */
body>footer {
  border-top: 1px solid var(--primary);
  padding-top: 2rem;
}
body>footer p {
  font-size: 80%;
}

/* Background da selelção */
::selection {
  background: var(--primary-hover);
}

.paginas {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.paginas a {
  font-size: 1.3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.paginas a.proxima {
  margin-left: 1.4rem;
}
.paginas a.anterior {
  margin-right: 1.4rem;
}

nav.breadcrumb {
  padding-top: 0;
  padding-bottom: 5rem;
}

.diagram {
  display: block;
  margin: auto;
}
.diagram g a rect {
  fill: var(--code-background-color);
  stroke: var(--color);
}
.diagram g a text {
  fill: var(--contrast);
}
.diagram g a line,
.diagram g line,
.diagram g path,
.diagram g ellipse {
  stroke: var(--primary);
}
