<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Eleição{% endblock %}</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>

    <header>
      <nav class="fixed inverted">
        <a href="/" class="logo" aria-label="Votações">
          <span class="title">Votações</span>
        </a>
        <ul>
          <li><a href = "/"><strong>Candidaturas</strong></a></li>
          <li><a href = "/"><strong>Outras listagens</strong></a></li>
        </ul>
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <p>
        <small>
          Copyleft, 2021 -
          <a href="https://git.sr.ht/~misterio/BSI-SCC0540-projeto">código fonte</a>
        </small>
      </p>
    </footer>

  </body>
</html>

{#
  vim: filetype=htmldjango
#}
