{% extends "base" %}
{% block content %}

<h1>{{ candidatura.cargo_tipo }},
{{ candidatura.cargo_local }} - 
{{ candidatura.ano }} - 
{{ candidatura.numero }}
</h1>

{% endblock content %}

{#
  vim: filetype=htmldjango
#}
