{# Permite exibir uma mensagem baseada no cookie flash #}
{% if flash %}
<sup id="flash" onclick="document.getElementById('flash').remove()" class="{{ flash.kind }}">
  {{ flash.message }}
</sup>
{% endif %}
