{# Permite exibir uma mensagem baseada no cookie flash #}
{% if flash %}
<div id="flash" class="{{ flash.kind }}">
  <sup onclick="document.getElementById('flash').remove()">
    {{ flash.message }}
  </sup>
</div>
{% endif %}
