{% extends "base" %}
{% block content %}
<h1>{{ individuo.nome }}</h1>
<p>
  <strong>CPF/CNPJ</strong>:
  {{ individuo.cpfcnpj }}
</p>
<p>
  <strong>Nascimento</strong>:
  {{ individuo.nascimento }}
</p>

<h2>Candidaturas</h2>
{% for candidatura in candidaturas %}
<p>
  {{ candidatura.cargo_tipo }},
  {{ candidatura.cargo_local }} - 
  {{ candidatura.ano }} - 
  {{ candidatura.numero }}
</p>
{% endfor %}

{% endblock content %}

{#
  vim: filetype=htmldjango
#}
