<div class="paginas">
  <a class="anterior" role="button" {% if paginas.current <= 1 %}disabled{% endif %} href="{{ paginas.prev_url }}">
    ←
  </a>
  {{ paginas.current }}
  <a class="proxima" role="button" {% if n_elements < 50 %}disabled{% endif %} href="{{ paginas.next_url }}">
    →
  </a>
</div>
